<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/login">Navbar scroll</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
            <a class="navbar-brand" routerLink="/edit">edit</a>
        </li>
        <li class="nav-item">
        <a class="navbar-brand" routerLink="/header">header</a>
        </li>
        <li class="nav-item">
        <a class="navbar-brand" routerLink="/home">home</a>
        </li>
        <li class="nav-item">
        <a class="navbar-brand" routerLink="/login">fsf</a>
        </li>
    </ul>
        <button class="btn btn-outline-success" *ngIf="!(isLoggedIn$ | async ) else wyloguj" routerLink="/login">Zaloguj</button><br>
        <button class="btn btn-outline-primary" *ngIf="!(isLoggedIn$ | async )" routerLink="/registery">Zarejestruj</button>
        <ng-template #wyloguj>
        <button type="button" class="btn btn-outline-danger" (click) = "logout()">Wyloguj sie</button>
        </ng-template>
    </div>
</div>
</nav>