
 <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Utwórz nowe konto</h2>


                <div class="form-outline mb-4">
                  <input type="text" id="fistname" name="firstname" [(ngModel)]="registerym.FirstName" class="form-control form-control-lg"/>
                  <label class="form-label" for="lastname">Imię</label>
                </div>  

                <div class="form-outline mb-4">
                  <input type="text" id="lastname" [(ngModel)]="registerym.LastName" class="form-control form-control-lg" />
                  <label class="form-label" for="lastname">Nazwisko</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="text" id="name" [(ngModel)]="registerym.Name" class="form-control form-control-lg" />
                  <label class="form-label" for="name">Nick</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="place" [(ngModel)]="registerym.Place" class="form-control form-control-lg" />
                  <label class="form-label" for="name">Miasto</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="login" [(ngModel)]="registerym.Login" class="form-control form-control-lg" />
                    <label class="form-label" for="login">Login</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" [(ngModel)]="registerym.Password" id="typePasswordX" class="form-control form-control-lg" />
                    <label class="input-label" for="typePasswordX">Hasło</label>
                  </div>

                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="error">                    
                      <div>  
                        {{ error }}                    
                      </div>
                  </div>
              </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click) = "registery()">Zarejestruj</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Posiadasz konto? <a href="/login"
                    class="fw-bold text-body"><u>Zaloguj się tutaj</u></a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
