<div class="card"  style="width: 100%; margin-top: 50px;">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body" style="width: 100%;">
        <div class="clearfix">
            <div class="col-md-3 float-md-end mb-1 ms-md-2">
                <div class="col-lg-12">
                    <div class="card mb-1">
                      <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                          class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-4">{{ postDetailsModel.authorName }}</h5>
                        <p class="text-muted mb-1">{{ postDetailsModel.authorFirstName }}</p>
                        <p class="text-muted mb-4">{{ postDetailsModel.authorLastName }}</p>
                        <p class="text-muted mb-1">{{ postDetailsModel.authorPlace }}</p>
                        <div class="d-flex justify-content-center mb-2">
                        </div>
                      </div>
                    
                </div>
            </div>
        
            </div>
            <h3>{{ postDetailsModel.tittle }}</h3>
            <p>
                {{ postDetailsModel.text }}
            </p>
          </div>
          <button class="btn btn-outline-danger" *ngIf="postDetailsModel.authorId == userId" (click)="deletePost()">Usuń</button>
          <button class="btn btn-outline-danger" *ngIf="postDetailsModel.authorId == userId" [routerLink]="['/postEdit', id]">Edytuj</button>
        </div>
    </div>