<div *ngIf="user">
    <h2>
        {{ user.Name }}
    </h2>
    <div>
        Name:
        <input [(ngModel)] = "user.Name" placeholder="Name" />
    </div>
    <div>
        FirsName:
        <input [(ngModel)] = "user.FirstName" placeholder="First Name" />
    </div>
    <div>
        LastName:
        <input [(ngModel)] = "user.LastName" placeholder="Last Name" />
    </div>
    <div>
        Place:
        <input [(ngModel)] = "user.Place" placeholder="Place" />
    </div>
    <button (click)="updateUser(user)" *ngIf="user.Id">Zapisz</button>
    <button (click)="deleteUser(user)" *ngIf="user.Id">Usuń</button>
    <button (click)="createUser(user)" *ngIf="!user.Id">Utwórz</button>
</div>